<link rel="stylesheet" href="/css/about.css">

<a class="gitlink" href="https://github.com/gimmeursocks">
    <h3>gimmeursocks</h3>
</a>

<div class="d-flex justify-content-center">
  <canvas class="align-self-center text-center mt-4"></canvas>
</div>

<script src="/js/about.js"></script>