<form class="d-flex justify-content-center" action="/api/shorten" method="POST">
    <div class="mb-3 align-self-center text-center mt-5">
        <h1>Enter a URL to shorten</h1>
        <input class="form-control" type="text" name="originalUrl" placeholder="Enter your long URL" required>
        <button class="btn btn-dark mt-3" type="submit">Shorten URL</button>
        <p class="mt-2"><%= error %></p>
    </div>
</form>