<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <h1>Enter a URL to shorten</h1>
    <form action="/api/shorten" method="POST">
        <input type="text" name="originalUrl" placeholder="Enter your long URL" required>
        <button type="submit">Shorten URL</button>
    </form>
    <br>
    <p><%= error %></p>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>