<div class="d-flex justify-content-center">
    <div class="mb-3 align-self-center text-center mt-5">
        <h1>Your Shortened URL</h1>
        <p>Original URL: <%= originalUrl %></p>
        <p>Shortened URL: <a href="<%= shortUrl %>"><%= shortUrl %></a></p>
        <a href="/">
            <button class="btn btn-dark" type="submit">Shorten another URL</button>
        </a>
    </div>
</div>