@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMonoV143/CommitMono-400-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Georgia, serif, system-ui;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  font-family: 'CommitMono', serif, system-ui;
}

.nav-link:hover {
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid black !important;
}

footer {
  font-family: monospace, system-ui;
  background-color: #f8f9fa;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}